{% block sw_cms_block_ictech_user_bought_products_slider_preview %}
    <div class="sw-cms-block-preview-ictech-user-bought-products-slider">
        <h4>{{ $tc('sw-cms.elements.ictech-user-bought-products-slider.preview.label.ictechUserBoughtProductsSliderTitle') }}</h4>
        <div class="sw-cms-block-preview-ictech-user-bought-products-slider__slider">
            <sw-icon
                name="regular-chevron-left"
                size="10"
            />

            <template v-for="block in 4">
                {% block sw_cms_block_ictech_user_bought_products_slider_preview_box %}
                    <div
                        :key="block"
                        class="sw-cms-block-preview-ictech-user-bought-products-slider__product-box"
                    >
                        <img
                            class="sw-cms-block-preview-ictech-user-bought-products-slider__product-image"
                            :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset"
                            alt=""
                        >

                        <div class="sw-cms-block-preview-ictech-user-bought-products-slider__product-info">
                            <div class="sw-cms-block-preview-ictech-user-bought-products-slider__product-skeleton"></div>
                            <div class="sw-cms-block-preview-ictech-user-bought-products-slider__product-skeleton"></div>
                            <div class="sw-cms-block-preview-ictech-user-bought-products-slider__product-skeleton"></div>
                        </div>

                        <div class="sw-cms-block-preview-ictech-user-bought-products-slider__product-action"></div>
                    </div>
                {% endblock %}
            </template>

            <sw-icon
                name="regular-chevron-right"
                size="10"
            />
        </div>
    </div>
{% endblock %}
