{% sw_extends '@Storefront/storefront/page/content/product-detail.html.twig' %}
{# {% block base_body %}#}
{#     {{ parent() }}#}
{#{% endblock %}#}

{#{% block page_content %}#}
{#    {{ dump(hello) }}#}

{#    {% set product = page.product.id %}#}
{#    {% for section in page.cmsPage.sections %}#}
{#    {% endfor %}#}

{#    {% block cms_breadcrumb %}#}
{#        <div class="breadcrumb cms-breadcrumb container">#}
{#            {% sw_include '@Storefront/storefront/layout/breadcrumb.html.twig' with #}{##}{#}#}
{#                context: context,#}
{#                category: page.product.seoCategory#}
{#            } only %}#}
{#        </div>#}
{#    {% endblock %}#}
{#    {{ block('cms_content') }}#}

{% endblock %}
