<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_test %}
    <div class="sw-cms-block-test">
        <slot name="content">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_block_test_slot_text_content %}{% endblock %}
        </slot>
    </div>
{% endblock %}
