{% block sw_demoplugin_detail %}
    <sw-page class="sw-demoplugin-detail">

        {% block sw_demoplugin_detail_header %}
            <template #smart-bar-header>
            </template>

        {% endblock %}

        {% block sw_demoplugin_detail_actions %}
            <template #smart-bar-actions>

                {% block sw_demoplugin_detail_actions_abort %}
                    <sw-button
                        v-tooltip.bottom="tooltipCancel"
                        :disabled="demopluginIsLoading"
                        @click="onCancel"
                    >
                        {{ $tc('Cancle') }}
                    </sw-button>
                {% endblock %}

                {% block sw_demoplugin_detail_actions_save %}
                    <sw-button-process
                        v-model="isSaveSuccessful"
                        v-tooltip.bottom="tooltipSave"
                        class="sw-demoplugin-detail__save-action"
                        :is-loading="isLoading"
                        :disabled="isLoading || !acl.can('swag_demo.editor')"
                        variant="primary"
                        @click.prevent="onSave"
                    >
                        {{ $tc('Save') }}
                    </sw-button-process>
                {% endblock %}

            </template>
        {% endblock %}

        {% block sw_demoplugin_list_language_switch %}
            <template #language-switch>
                <sw-language-switch @on-change="onChangeLanguage">

                </sw-language-switch>
            </template>
        {% endblock %}

        {% block sw_demoplugin_detail_content %}
            <sw-card-view slot="content">
                <template v-if="demopluginIsLoading">
                    <sw-skeleton variant="detail-bold"></sw-skeleton>
                    <sw-skeleton/>
                </template>

                <template v-else>

                    {% block sw_demoplugin_detail_base_basic_info_card %}
                        <sw-card
                            position-identifier="sw-demoplugin-detail-basic-info"
                            :title="$tc('sw-demoplugin.detail.cardTitledemopluginInfo')"
                        >
                            <sw-container
                                class="sw-demoplugin-detail__container"
                                columns="repeat(auto-fit, minmax(250px, 1fr))"
                                gap="0 30px"
                            >
                                <div class="sw-demoplugin-detail__base-info-wrapper">

                                    {% block sw_demoplugin_detail_base_info_field_name %}
                                        <sw-field
                                            v-model="demoplugin.name"
                                            type="text"
                                            :label="$tc('Name')"
                                            :placeholder="$tc('Name')"
                                            :error="demopluginNameError"
                                           ></sw-field>
                                    {% endblock %}

                                    {% block sw_demoplugin_detail_base_info_field_city %}
                                        <sw-field
                                            v-model="demoplugin.city"
                                            type="text"
                                            :label="$tc('City')"
                                            :placeholder="$tc('City')"
                                            :error="demopluginCityError"
                                        ></sw-field>
                                    {% endblock %}

                                    {% block sw_demoplugin_detail_base_info_field_country %}
                                        <sw-entity-single-select
                                            v-model="countryId"
                                            class="sw-demoplugin-detail-form__country-select"
                                            entity="country"
                                            :criteria="countryCriteria"
                                            :label="$tc('Country')"
                                            :placeholder="$tc('Country')"
                                            show-clearable-button></sw-entity-single-select>
                                    {% endblock %}

                                    {% block  sw_demoplugin_detail_base_info_field_state  %}
                                        <div
                                            class="sw-demoplugin-detail-state-select-placeholder"
                                        >
                                            <sw-entity-single-select
                                                v-model="demoplugin.countrystateId"
                                                class="sw-demoplugin-detail-state-select"
                                                entity="country_state"
                                                :label="$tc('State')"
                                                :criteria="stateCriteria"
                                                :placeholder="$tc('Enter your State')"
                                                show-clearable-button/>
                                        </div>
                                    {% endblock %}

                                    {% block sw_demoplugin_detail_base_info_field_product %}
                                        <sw-entity-single-select
                                            v-model="demoplugin.productId"
                                            class="sw-demoplugin-form_product-select"
                                            entity="product"
                                            :criteria="productCriteria"
                                            :label="$tc('product')"
                                            :placeholder="$tc(product)"
                                            show-clearable-button
                                        />
                                    {% endblock %}

                                    {% block sw_demoplugin_active_switch %}
                                        <sw-switch-field
                                            v-model="demoplugin.active"
                                            class="sw_demoplugin_active_switch"
                                            size="medium"
                                            :label="$tc('Active')"

                                        />
                                    {% endblock %}


                                </div>

                                {% block sw_demoplugin_detail_logo_upload %}
                                    <sw-upload-listener
                                        :upload-tag="mediaUploadTag"
                                        auto-upload
                                        @media-upload-finish="setMediaItem"></sw-upload-listener>
                                    <sw-media-upload-v2
                                        class="sw-demoplugin-detail__logo-upload"
                                        :source="demoplugin.mediaId"
                                        :allow-multi-select="false"
                                        variant="regular"
                                        :upload-tag="mediaUploadTag"
                                        :label="$tc('Upload')"
                                        :default-folder="demopluginRepository.entityName"
                                        :disabled="!acl.can('swag_demo.editor')"
                                        @sw-media-upload-v2-media-upload-success="setMediaItem"
                                        @media-drop="onDropMedia"
                                        @media-upload-sidebar-open="openMediaSidebar"
                                        @media-upload-remove-image="onUnlinkLogo"></sw-media-upload-v2>
                                {% endblock %}
                            </sw-container>


                        </sw-card>
                    {% endblock %}

                </template>
            </sw-card-view>
        {% endblock %}

        {% block sw_demoplugin_detail_sidebar %}
            <template slot="sidebar">
                <sw-sidebar :propagate-width="true">
                    <sw-sidebar-media-item
                        ref="mediaSidebarItem"
                        :disabled="!acl.can('swag_demo.editor')"
                    >
                        <template
                            slot="context-menu-items"
                            slot-scope="media"
                        >
                            <sw-context-menu-item @click="setMediaFromSidebar(media.mediaItem)">
                                {{ $tc('sw-demoplugin.detail.labelUseAsLogo') }}
                            </sw-context-menu-item>
                        </template>
                    </sw-sidebar-media-item>
                </sw-sidebar>
            </template>
        {% endblock %}

    </sw-page>
{% endblock %}
