{% block sw_cms_block_ictech_product_review_slider %}
    <div class="sw-cms-block-ictech-products-products-review-slider">
        <slot name="ictechProductsReviewSlider"></slot>
    </div>
{% endblock %}
