<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_images %}
    <div class="sw-cms-block-images">
        <slot name="image">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_block_images_slot_image %}{% endblock %}
        </slot>
    </div>
{% endblock %}
