{% block sw_cms_block_blog_text_preview %}
    <div class="sw-cms-preview-blog-text">
        <h2>Lorem ipsum dolor</h2>
        <p>Everyone dreams of doing something unique and big. But when they see all the big things of this world, they all lose sight of what and how it really matters.
            If you enjoy those small things, then you will realize that it is these small things which makes life alive. Like sitting and enjoying a cup of coffee with friends, movie night with family, playing with children in the park and many more.
            So, one should be grateful of all those small things because once you stop giving them value it loses all its essence in life. Once one can get successful in terms of money and fame and other materialistic things in life, they start losing the old memories as they were precious and priceless.
            We should know that everything that we consider as small is just as equally important as the others.Enjoying moments and discovering happiness in every little thing gives us the strength or power to deal with the big stress and tension that comes at times into our lives.
            It makes you mature in some way but that does not mean that we should stop appreciating small things.
        </p>
    </div>
{% endblock %}
