{% block sw_cms_block_ictech_user_bought_products_slider %}
    <div class="sw-cms-block-ictech-user-bought-products-slider">
        <slot name="ictechUserBoughtProductsSlider">
            {% block sw_cms_block_ictech_user_bought_products_sliderslot_content %}{% endblock %}
        </slot>
    </div>
{% endblock %}
