<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_blog_text_preview %}
    <div class="sw-cms-el-preview-text">
        <h2>Lorem ipsum dolor</h2>
        <p>India is considered a developing country and is expected to make it to the list of Superpowers in the year 2033. India is the second most populated country in India after China. The estimated population of India is 1,296,834,042, as in July 2019. India has astounding features with the Himalayas on the Northern Border and Ganges flowing in the country. New Delhi is the national capital of India.
        </p>
    </div>
{% endblock %}
