{% block sw_cms_block_ictech_products_review_slider_preview %}
    <div class="sw-cms-preview-ictech-products-review-slider">
        <sw-icon
            name="regular-chevron-left"
            size="20"
        />
        <div class="sw-cms-preview-ictech-products-review-slider__product-box">
            <sw-cms-product-box-preview />
            <sw-cms-product-box-preview />
        </div>
        <sw-icon
            name="regular-chevron-right"
            size="20"
        />
    </div>
{% endblock %}
