{% block sw_cms_element_ictech_products_review_slider_preview %}
    <div class="sw-cms-el-preview-ictech-products-review-slider">
        <sw-icon
            name="regular-chevron-left"
            size="10"
        />
        <sw-cms-product-box-preview :has-text="false" />
        <sw-icon
            name="regular-chevron-right"
            size="10"
        />
    </div>
{% endblock %}
