{% block sw_demoplugin_list %}
    <sw-page class="sw-demoplugin-list">
        {% block sw_demoplugin_list_search_bar %}
            <template #search-bar>
                <sw-search-bar
                    initial-search-type="All"
                    :initial-search="term"
                    @search="onSearch"></sw-search-bar>
            </template>
        {% endblock %}

        {% block sw_demoplugin_list_smart_bar_header %}
            <template #smart-bar-header>
                {% block sw_demoplugin_list_smart_bar_header_title %}
                    <h2>
                        {% block sw_demoplugin_list_smart_bar_header_title_text %}
                            {{ $tc('Total Entries') }}
                        {% endblock %}

                        {% block sw_demoplugin_list_smart_bar_header_amount %}
                            <span
                                v-if="!isLoading"
                                class="sw-page__smart-bar-amount"
                            >
                ({{ total }})
            </span>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_demoplugin_list_actions %}
            <template #smart-bar-actions>
                {% block sw_demoplugin_list_smart_bar_actions %}
                    <sw-button
                        v-tooltip.bottom="{
                message: $tc('sw-privileges.tooltip.warning'),
                disabled: acl.can('swag_demo.creator'),
                showOnDisabledElements: true
            }"
                        :router-link="{ name: 'sw.demoplugin.create' }"
                        :disabled="!acl.can('swag_demo.creator')"
                        class="sw-demoplugin-list__add-demoplugin"
                        variant="primary"
                    >
                        {{ $tc('Add New') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_demoplugin_list_language_switch %}
            <template #language-switch>
                <sw-language-switch @on-change="onChangeLanguage">

                </sw-language-switch>
            </template>
        {% endblock %}

        <template #content>
            {% block sw_demoplugin_list_content %}
                <div class="sw-demoplugin-list__content">
                    {% block sw_demoplugin_list_grid %}
                        <sw-entity-listing
                            v-if="entitySearchable"
                            class="sw-demoplugin-list__grid"
                            detail-route="sw.demoplugin.detail"
                            :is-loading="isLoading"
                            :columns="demopluginColumns"
                            :repository="demopluginRepository"
                            :items="demoplugin"
                            :criteria-limit="limit"
                            :sort-by="currentSortBy"
                            :sort-direction="sortDirection"
                            :disable-data-fetching="true"
                            :allow-edit="acl.can('swag_demo.editor')"
                            :allow-inline-edit="acl.can('swag_demo.editor')"
                            :allow-delete="acl.can('swag_demo.deleter')"
                            :show-selections="acl.can('swag_demo.deleter')"
                            identifier="sw-demoplugin-list"
                            @update-records="updateTotal"
                            @page-change="onPageChange"
                            @column-sort="onSortColumn"
                        >
                            {% block sw_demoplugin_list_grid_columns_name_preview %}
                                <template #preview-name="{item}">
                                    <sw-media-preview-v2 :source="item.mediaId"></sw-media-preview-v2>
                                </template>
                            {% endblock %}
                        </sw-entity-listing>
                    {% endblock %}

                    {% block sw_demoplugin_list_empty_state %}
                        <sw-empty-state
                            v-if="!isLoading && !total && isValidTerm(term)"
                            :title="$tc('sw-empty-state.messageNoResultTitle')"
                        >
                            <template #default>
                                {{ $tc('sw-empty-state.messageNoResultSublineBefore') }}
                                <router-link
                                    class="sw-empty-state__description-link"
                                    :to="{ name: 'sw.profile.index.searchPreferences' }"
                                >
                                    {{ $tc('sw-empty-state.messageNoResultSublineLink') }}
                                </router-link>
                                {{ $tc('sw-empty-state.messageNoResultSublineAfter') }}
                            </template>
                        </sw-empty-state>
                    {% endblock %}

                    {# @deprecated tag:v6.5.0 - Will be removed #}
                    {% block sw_demoplugin_list_grid_loader %}{% endblock %}
                </div>
            {% endblock %}

        </template>
    </sw-page>
{% endblock %}
