{% block products_quickview_modal %}
<div class="modal fade"
     id="customQuickViewPopUP"
     data-backdrop="static"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">

    {% block products_quickview_modal_dialog %}
        <div class="modal-dialog" role="dialog">

            {% block products_quickview_modal_content %}
                <div class="modal-content">

                    {% block products_quickview_modal_header %}
                        <div class="modal-header">

                            {% block products_quickview_modal_header_title %}
                                <h5 class="modal-title">{{ "account.editOrderCancelOrderModalHeader"|trans|sw_sanitize }}</h5>
                            {% endblock %}

                            {% block products_quickview_modal_header_close_button %}
                                <button class="close"
                                        type="button"
                                {{ dataBsDismissAttr }}="modal"
                                aria-label="Close">
                                {% sw_icon 'x' %}
                                </button>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block products_quickview_modal_body %}
                        <div class="modal-body">

                            {% block products_quickview_modal_body_text %}
                                <p>{{ "account.editOrderCancelOrderModalBodyText"|trans|sw_sanitize }}</p>
                            {% endblock %}

                            {% block products_quickview_modal_body_question %}
                                <p>{{ "account.editOrderCancelOrderModalBodyQuestion"|trans|sw_sanitize }}</p>
                            {% endblock %}
                        </div>
                    {% endblock %}

                </div>
            {% endblock %}
        </div>
    {% endblock %}
</div>















    {% endblock %}
