{% set Active = config('ICTECHQuickViewPopupWithPastPurchasedProduct.config.Active',context.salesChannel.id) %}
{% set CustomerBuyProductsSlider = config('ICTECHQuickViewPopupWithPastPurchasedProduct.config.CustomerBuyProductsSlider') %}
{% block element_ictech_user_bought_products_slider %}
    {% if (Active === true) and (CustomerBuyProductsSlider === true) %}
        {% if not sliderConfig %}
            {% set sliderConfig = element.fieldConfig.elements %}
        {% endif %}
        <div
            class="cms-element-has-vertical-alignment">
            {% if (Active === true) and (page.extensions.customerProducts['customerProductsData'] == true) %}
                {% block element_ictech_user_bought_products_slider_title %}
                    <div class="product-slider-title">
                        {{ "slider.productSlider.title"|trans|sw_sanitize }}
                    </div>
                {% endblock %}
            {% endif %}
            {% block element_ictech_user_bought_products_slider_alignment %}
                {% if config.verticalAlign.value %}
                    <div class="cms-element-alignment{% if sliderConfig.verticalAlign.value == "center" %} align-self-center{% elseif sliderConfig.verticalAlign.value == "flex-end" %} align-self-end{% else %} align-self-start{% endif %}">
                {% endif %}

                {% set productSliderOptions = {
                    productboxMinWidth: '300px',
                    slider: {
                        gutter: 30,
                        autoplayButtonOutput: false,
                        nav: false,
                        mouseDrag: false,
                        controls: true,
                        autoplay:  true,
                        items: 2,
                        loop: true,
                        speed: 200
                    }
                } %}

                {% block element_ictech_user_bought_products_slider_slider %}
                    <div class="container-fluid">
                        <div class="row">
                            <div
                                class="base-slider product-slider has-nav"
                                data-product-slider="true"
                                data-product-slider-options="{{ productSliderOptions|json_encode }}">

                                {% block element_ictech_user_bought_products_slider_inner %}
                                    {% block element_ictech_user_bought_products_slider_element %}
                                        <div
                                            class="{% if page.extensions.customerProducts['customerProductsData']|length >= 3 %}col-lg-4 col-md-8 {% elseif page.extensions.customerProducts['customerProductsData']|length == 2 %}col-lg-6 col-md-6{% endif %}">
                                            <div class="product-slider-container"
                                                 data-product-slider-container="true">
                                                {% for item in page.extensions.customerProducts['customerProductsData'] %}
                                                    {% set product = item %}
                                                    {% block element_ictech_user_bought_products_slider_inner_item %}
                                                        <div class="product-slider-item">
                                                            {% sw_include '@Storefront/storefront/component/product/card/box.html.twig' with {
                                                                'layout': 'standard',
                                                                'displayMode': 'standard'
                                                            } %}
                                                        </div>
                                                    {% endblock %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endblock %}
                                    {% block element_ictech_user_bought_products_slider_controls %}
                                        <div class="product-slider-controls-container">
                                            <div class="base-slider-controls"
                                                 data-product-slider-controls="true">
                                                {% block element_ictech_user_bought_products_slider_controls_items %}
                                                    <button
                                                        class="base-slider-controls-prev product-slider-controls-prev">
                                                        {% block element_ictech_user_bought_products_slider_controls_items_prev_icon %}
                                                            {% sw_icon 'arrow-head-left' %}
                                                        {% endblock %}
                                                    </button>
                                                    <button
                                                        class="base-slider-controls-next product-slider-controls-next">
                                                        {% block element_ictech_user_bought_products_slider_controls_items_next_icon %}
                                                            {% sw_icon 'arrow-head-right' %}
                                                        {% endblock %}
                                                    </button>
                                                {% endblock %}
                                            </div>
                                        </div>
                                    {% endblock %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}
