{% block sw_cms_ictech_el_product_slider_preview %}
    <div class="sw-cms-ictech-el-preview-product-slider">
        <sw-icon
            name="regular-chevron-left"
            size="10"
        />
        <sw-cms-ictech-el-product-box-preview :has-text="false" />
        <sw-icon
            name="regular-chevron-right"
            size="10"
        />
    </div>
{% endblock %}
