<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <!--Main Active/Inactive Switch-->
        <title>Configuration</title>
        <input-field type="bool">
            <name>Active</name>
            <label>Active</label>
            <label lang ="de-DE">Aktiv</label>
            <label lang ="nl-NL">Actief</label>
        </input-field>
        <!--Main Active/Inactive Switch-->

        <!--User Bought Product Slider Switch-->
        <input-field type="bool">
            <name>CustomerBuyProductsSlider</name>
            <label>Slider for purchased products of the user</label>
            <label lang ="de-DE">Schieberegler für gekaufte Produkte des Benutzers</label>
            <label lang ="nl-NL">Slider voor gekochte producten van de gebruiker</label>
        </input-field>
        <!--User Bought Product Slider Switch-->

        <!--Products Review Slider-->
        <input-field type="bool">
            <name>ProductReviewRatingSlider</name>
            <label>Product Review Rating Slider</label>
            <label lang ="de-DE">Schieberegler für die Produktbewertung</label>
            <label lang ="nl-NL">Schuifregelaar voor productbeoordeling</label>
        </input-field>
        <!--Products Review Slider-->
    </card>
</config>
