<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <!--Main Active/Inactive Switch-->
        <title>Configuration</title>
        <input-field type="bool">
            <name>ActiveInactive</name>
            <label>Active</label>
            <label lang ="de-DE">Aktiv</label>
        </input-field>
        <!--Main Active/Inactive Switch-->

        <!--User Bought Product Slider Switch-->
        <input-field type="bool">
            <name>CustomerBuyProductsSlider</name>
            <label>User's Bought Products Slider</label>
            <label lang ="de-DE">Schieberegler „Gekaufte Produkte“ des Benutzers</label>
        </input-field>
        <!--User Bought Product Slider Switch-->

        <!--Products Review Slider-->
        <input-field type="bool">
            <name>ReviewRatingSlider</name>
            <label>Review Rating Slider</label>
            <label lang ="de-DE">Bewertungsschieberegler bewerten</label>
        </input-field>
        <!--Products Review Slider-->
    </card>
</config>
