{% block sw_cms_ictech_user_bought_products_slider %}
    <div class="sw-cms-el-ictech-user-bought-products-slider">
        {% block sw_cms_ictech_user_bought_products_slider_title %}
            <h2 class="sw-cms-el-ictech-user-bought-products-slider__title">
                {{ placeholder(crossSelling, 'name', crossSelling.name) }}
            </h2>
        {% endblock %}

        {% block sw_cms_ictech_user_bought_products_slider_content %}
            <div class="sw-cms-el-ictech-user-bought-products-slider__content">
                {% block sw_cms_ictech_user_bought_products_slider_arrow_left %}
                    <div class="sw-cms-el-ictech-user-bought-products-slider__navigation">
                        <sw-icon
                            class="sw-cms-el-ictech-user-bought-products-slider__navigation-button"
                            name="regular-chevron-left"
                            size="24"
                        />
                    </div>
                {% endblock %}

                {% block sw_cms_ictech_user_bought_products_slider_product_holder %}
                    <div
                        ref="productHolder"
                        class="sw-cms-el-ictech-user-bought-products-slider__product-holder"
                        :style="sliderBoxMinWidth"
                    >
                        <template v-if="!element.data.product || !element.data.product.crossSellings.length">
                            {% block sw_cms_ictech_user_bought_products_slider_demo_data %}
                                <sw-cms-el-product-box
                                    v-for="index in sliderBoxLimit"
                                    :key="index"
                                    :element="demoProductElement"
                                />
                            {% endblock %}
                        </template>

                        <template v-else>
                            {% block sw_cms_ictech_user_bought_products_slider_products %}
                                <sw-cms-el-product-box
                                    v-for="(crossSelling, index) in crossSellingProducts"
                                    v-if="index < sliderBoxLimit"
                                    :key="crossSelling.id"
                                    :element="getProductEl(crossSelling.product)"
                                />
                            {% endblock %}
                        </template>
                    </div>
                {% endblock %}

                {% block sw_cms_ictech_user_bought_products_slider_arrow_right %}
                    <div class="sw-cms-el-ictech-user-bought-products-slider__navigation">
                        <sw-icon
                            class="sw-cms-el-ictech-user-bought-products-slider__navigation-button"
                            name="regular-chevron-right"
                            size="24"
                        />
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
