{% block sw_cms_element_ictech_user_bought_products_slider_preview %}
    <div class="sw-cms-el-preview-ictech-user-bought-products-slider">
        <div class="sw-cms-el-preview-ictech-user-bought-products-slider__slider">
            <sw-icon
                name="regular-chevron-left"
                size="10"
            />

            {% block sw_cms_element_ictech_user_bought_products_slider_preview_box %}
                <div class="sw-cms-el-preview-ictech-user-bought-products-slider-box">
                    <div class="sw-cms-el-preview-ictech-user-bought-products-slider-box__image">
                        <img
                            :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset"
                            alt=""
                        >
                    </div>

                    <div class="sw-cms-el-preview-ictech-user-bought-products-slider-box__info">
                        <div class="sw-cms-el-preview-ictech-user-bought-products-slider-box__skeleton-left"></div>
                        <div class="sw-cms-el-preview-ictech-user-bought-products-slider-box__skeleton-right"></div>
                    </div>

                    <div class="sw-cms-el-preview-ictech-user-bought-products-slider-box__action"></div>
                </div>
            {% endblock %}

            <sw-icon
                name="regular-chevron-right"
                size="10"
            />
        </div>
    </div>
{% endblock %}
